@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button class="btn btn-primary mt-5"><a class="nav-link fw-bold text-dark fs-3" asp-area="" asp-controller="Home" asp-action="Calendar" asp-route-month="@DateTime.Now.Month">Calendar</a></button>
</div>
